.not-found-page {
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:100vh; */
    height: calc(100vh - 60px);

}

.not-found-message {
    font-weight: bold;
    font-size: 70px;
    color: rgba(127, 127, 127, 0.544);
}
