
            .send-button {
                background-color: rgb(25, 135, 84);
                color: white;
                padding: 12px 20px 12px 20px;
                margin: 0px 0px 0px 10px;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;
            }
            .chat-input {
                padding: 12px 15px 12px 15px;
                border-radius: 10px;
                border: 1px solid black;
                font-size: 15px;
                flex-grow: 1;
            }
            .chat-input-contaier {
                display: flex;
                margin: 10px 0px 20px 0px;
            }
            .app-container {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                height: 100vh;
                display: flex;
                flex-direction: column;
            }
            .chat-message-user {
                display: flex;
                justify-content: end;
                align-items: center;
            }
            .chat-message-robot {
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .chat-message-text {
                background-color: rgb(244, 244, 244);
                padding: 10px 15px 10px 15px;
                margin: 15px 10px 10px 10px;
                border-radius: 5px;
                max-width: 300px;
            }
            .chat-message-profile {
                width: 40px;
            }
            .chat-message-container {
                flex-grow: 1;
                margin: 30px 0px 10px 0px;
                overflow: scroll;
                scrollbar-width: none;
            }
            .welcome-message {
                color: gray;
                text-align: center;
            }
            .loading-img {
                height: 40px;
                margin: -15px;
            }