.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: center;
}
.chat-message-robot {
    display: flex;
    justify-content: start;
    align-items: center;
}
.chat-message-text {
    background-color: rgb(244, 244, 244);
    padding: 10px 15px 10px 15px;
    margin: 15px 10px 10px 10px;
    border-radius: 5px;
    max-width: 300px;
}
.chat-message-profile {
    width: 40px;
}
